{% extends "layout.html" %} {% block main %}
<div>
  <h3 class="mt-5 mb-2">Choose one Item</h3>
  <p class="mb-5">continue until you see results...</p>
  <form method="post">
    <button
      class="btn btn-outline-light lg mx-3"
      type="submit"
      name="selected_item"
      value="{{ item1.id }}"
    >
      {{ item1.item_name }}
    </button>
    OR
    <button
      class="btn btn-outline-light lg mx-3"
      type="submit"
      name="selected_item"
      value="{{ item2.id }}"
    >
      {{ item2.item_name }}
    </button>
  </form>
</div>
{% endblock %}
