{% extends "layout.html" %} {% block main %}
<div class="container intro">
  <h2 class="text-center mt-5">
    TITLE:<span class="example lg">{{ title.title | upper }}</span>
  </h2>
  <br />
  <h3 class="text-center mt-5">Add New Items</h3>
  <form
    action="{{ url_for('items', title_id=title.id) }}"
    method="post"
    class="text-center my-3"
  >
    <input
      class="mb-3"
      id="item"
      name="item"
      placeholder="Item"
      required
      autofocus
      type="text"
    />
    <button class="btn btn-primary btn-sm col-auto ms-3" type="submit">
      Add Item
    </button>
  </form>
  <br />
  <div class="text-center my-3">
    {% for item in items %}
    <li class="text-center my-3">
      <span class="example">{{ item.item_name | capitalize }}</span>
    </li>
    {% endfor %}
  </div>

  <div class="text-center">
    <a
      href="{{ url_for('choose', title_id=title.id) }}"
      class="btn btn-outline-light btn-lg mt-5"
    >
      Start Choosing
    </a>
  </div>
</div>
{% endblock %}
